<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <p>random number from database: {{value}}</p>
    <div class="container">
        <form method="post" class="form-control">
            <input type="text" name="number" placeholder="enter a number" class="form-control"><br><br>
            <button class="btn btn-success" type="submit">insert number in database</button><br>
        </form>
    </div>
</body>
</html>